text{font-family: 'Times New Roman', Times, serif;}
h1{color:rgb(213, 140, 255)}
h2{color:rgb(213, 140, 255)}
body{background-color: rgb(66, 94, 66);
font-size: larger;}
p{Color:rgb(247, 222, 226)}
h3{color: rgb(213, 140, 255);}
p1{color: rgb(247, 222, 226);}
figcaption{color: rgb(247, 222, 226);}
p2{color: rgb(247, 222, 226);}
ol{color:rgb(247, 222, 226)}